body{
  margin: 0;
  padding: 0;
}
.userForm{
  margin: auto;
  margin-top: 50px;
}

.navbar{
  background: #575b5a;
  padding: 1px;
}

.nav-heading{
  text-align: center;
  color: white;
}
.addIcon{
  margin-top: 50px;
}
